



@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html{
     box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
 margin: 0;
 font-size:15px;
 line-height: 30px;
 font-family:"Open Sans","Arial",sans-serif;
 color: #464646;

}

.wrap{
  width: 1200px;
  padding: 0px 20px ;
  margin: 0 auto;
}
.wrap-monopods{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding: 0px 20px 0px  80px;
  margin: 0 auto;
}
.monopods-conteiner h1{
  width: 1000px;


}

.main-header {


    margin: 0 0 50px;
    padding: 21px 60px 0px;
    background-image: linear-gradient(to bottom, transparent 40px, rgb(247, 226, 150) 0 );




}
.main-header-logo {
    display: block;
    width: 163px;
    height: 35px;







}

.main-nav-search{
  height: 35px;
}

.main-nav-list {
    display: flex;
align-items: baseline;

    margin-bottom: 55px;


  padding: 0;



  list-style: none;
}
.login {
  margin-left: auto;
vertical-align:baseline;

     width: 260px;



}
.compare,
.cart{
    width: 120px;


}
.cart {
    text-align: right;

    }











.search {
  line-height: 30px;

width: 439px;
}




.search-input {
  font-family: inherit;
  line-height: 30px;
  padding: 0 20px 0 38px;
  border: 2px solid transparent;
  border-width: 2px 0;
  background: transparent  url(../img/icon/icon-search.svg) no-repeat 5px 10px;
  width: 350px;
  height: 50px;
}
.search-input:focus {
  border-bottom-color: #000000;
  outline: none;
}
.search-button {
  width: 85px;
  font-family: inherit;
  line-height: 30px;
  padding: 8px 20px;
  opacity: 0;
margin-left: -4px;
  color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  background-color: transparent;
}

.search-input:focus + .search-button,
.search-button:focus,
.search-button:active {
  opacity: 1;
  color: inherit;
}
.search-input:focus + .search-button:hover {
  color: #fff;
  background-color: #000;
}

.search-button:active {
  color: #747474;
  background-color: #000;
}


.dropdown-menu {
  margin-right: 320px;

}

.transport-company{
  position: relative;
}
.transport-company li:before{
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: 15px;
  margin-top: 15px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;

}




.site-navigation {
    display: flex;
position: relative;
    list-style: none;

    padding: 0 0 170px;
    text-align: baseline;



}
.site-navigation-monopods{
  display: flex;

    list-style: none;

    padding: 0 0 55px;

}

/
.nav-cataloge {
  display: inline-block;
position: relative;

margin-right: 300px;
width: 240px;

}
.site-navigation .nav-cataloge{
  display: flex;

    list-style: none;

   padding: 0 ;
}
.nav-cataloge:after{
    content: "";
    position: absolute;
    z-index: 10;


    width: 16px;
    height: 16px;
    left:220px;
    top: 3px;
    background-image: url(../img/icon/icon-plus.svg);

}

.nav-delivery {
  margin-right: 35px;

text-align: right;
}
/*.cataloge-space{
width: 300px;
margin-right: 100px;
}*/
 .nav-warranty{
  margin-right: 104px;


 }
.nav-contacts {

  text-align: right;





}
.dropdown-content{
    display: none;
}





a
 {
  color: inherit;
  text-decoration: none;

}

.main-header a:hover{
  opacity: 0.6;
  .
}
.main-header a:focus,
.main-header a:active{
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}



.login{

}
.compare{

}
.cart{

    order: 1;
}


.nav-bold{

color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 18px;
font-weight: 900;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 3.6px;

}
.dropdown-content {
font-family: "Open Sans","Arial",sans-serif;
font-size: 15px;
line-height: 36px;
text-decoration: none;
}









.img-nav{
/*display: flex;
flex-wrap: wrap;
margin: 0 0 70px;*/


}
.image-nav-item{
  margin-right: 40px;
   width: 160px;


    /**/
  }
 .image-nav-item:nth-child(6n){
margin-right: 0px;
}


.imageitems  {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.image-item{
 height: 160px;
 background-color: rgba(240, 197, 46, 0.5);
 display: flex;
 justify-content: center;
 align-items: center;





}






.item-selfie img{
  align-self: flex-end;


}


.img-nav-paragraf{

  margin: 33px 0 0;
  letter-spacing: 0.18px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;

}
.image-nav-item:hover .image-item,
.image-nav-item:focus .image-item {
 background-color: rgba(240, 197, 46, 1);
}
.image-nav-item:active .main-item-img,
.image-nav-item:active .img-nav-paragraf{
  opacity: 0.3;
}


.manufacturers{
   display: flex;
flex-wrap: wrap;
padding-top: 100px;
}
.brands:nth-child(4n){
  margin-right: 0px;
}
.brands{
  width: 260px;
  margin: 0 40px 0 0;
}
.brands-dji:hover,
.brands-dji:focus {
  background-image: url("../img/company/dji2.png");
}
.brands-sp:hover,
.brands-sp:focus {
 background-image: url("../img/company/sp2.png");
}
.brands-gopro:hover,
.brands-gopro:focus {
  background-image: url("../img/company/gopro2.png");
}
.brands-vive:hover,
.brands-vive:focus {
  background-image: url("../img/company/vive2.png");
}




.shop-info{
display: flex;
justify-content: space-between;

}
.about-us{
  position: relative;

  width: 460px;
}

.shop-info h3{
    padding-top: 45px;
    padding-bottom: 38px;

  }



.slider-name:before{
content: "";
  position: absolute;
 top: 45px;
 left: 0px;

  margin-bottom: 50px;
  width: 80px;
  height: 7px;

  background-color: #000000;

}


.contact-us{

  width: 560px;
position: relative;
}
.btn-info{
  padding-top: 80px;
  margin-bottom: 95px;
}

.main-footer{
  min-height: 320px;
    padding-top: 54px;
    padding-bottom: 60px;
}


.footer-box {

  display: flex;
  align-items: center;
  flex-wrap: wrap;


}
.main-footer-logo img{
  height: 35;
  width: 163;
}
.main-footer-logo:hover{
  opacity: 0.6;
}
.main-footer-logo:focus,
.main-footer-logo:active{
  opacity: 0.3;
}
.footer-user {
  display: flex;
  justify-content: flex-end;
  list-style: none;
opacity: 0.7;
width: 960px;
margin: 0 0 0 auto;
  padding: 0px;



}
.footer-user li{
  margin-left: 40px;
}
.footer-user:focus,
.footer-user:active{
  opacity: 0.6;

}
.html-logo:hover{
opacity: 0.6;
}
.html-logo:focus,
.html-logo:active{
  opacity: 0.3;
}

.contact-address {
  margin-top: 40px;
font-style: normal;
  width: 360px;

}
.footer-center{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
width: 440px;
justify-content: center;
padding: 0;

margin-top: 60px;


}
.footer-center li{
  margin-right: 35px;
}
.footer-center li:nth-child(3n){
  margin-right: 0;
}
.footer-center:hover{
  opacity: 0.6;
}
.footer-center:focus,
.footer-center:active{
  opacity: 0.3;
}


.social {
  display: flex;
  margin: 0 auto;
  align-items: center;
  list-style: none;
  justify-content: center;
  width: 450px;
  padding: 0;
  font-size: 0;



}
.social li{
  margin-right: 20px;
}
.social-button{
  display: block;
  line-height: 0;

}
.social-button:hover{
  opacity: 0.6;
}
.social-button:focus,
.social-button:active{
  opacity: 0.1;
}

.phone{

  text-align: right;

  width: 360px;
  margin-left: auto;
  color: white;

margin-top: 40px;
}

.footer-bottom{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 40px 0 0;
  padding: 0 0 30px;
}
.footer-bottom::before{
content: "";
width: 80px;
height: 7px;
background-color: #ffc600;
}


.html-logo{

  width: 27px;
  height: 35px;
  margin-left: 53px;

}



.p{
    display: none;
}

.slider-name{
color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 47px;
font-weight: 900;
line-height: 48px;
letter-spacing: 0.21px;
}
.slider-name-info{
color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 47px;
font-weight: 900;
line-height: 48px;
letter-spacing: 0.21px;
margin: 0;
padding-bottom: 31px;



}
.transport-company{
color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 16px;
line-height: 40px;
font-weight: 900;
list-style: none;
}
.btn-more-info{
color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 18px;
font-weight: 900;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 2.15px;

}
.main-footer{
   background-color: #464646;
}
.footer-user{



color: #ffffff;
font-family: "Open Sans","Arial",sans-serif;
font-size: 15px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0.15px;
text-align: right;
}
.contact-address{


color: #ffffff;
font-family: "Open Sans","Arial",sans-serif;
font-size: 15px;
font-weight: 300;
line-height: 30px;
}
.footer-center{

color: #ffffff;
font-family: "Gilroy","Arial",sans-serif;
font-size: 18px;
font-weight: 900;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 3.6px;
text-align: center;
}
.social{
opacity: 0.3;
text-align: center;

}
.monopods-conteiner .wrap{

margin: 0 0 0 60px;
}

 .monopods-conteiner h1{
color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 47px;
font-weight: 900;
line-height: 48px;
letter-spacing: 0.17px;

}
.breadscrumbs{
  position: relative;
/*opacity: 0.3;*/
color: rgba(0,0,0,0.3);
font-family: "Open Sans","Arial",sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.14px;
list-style: none;
display: flex;

 margin-bottom: 50px;
 padding: 0;

}
.breadscrumbs li:first-child{

  margin-right: 40px;
}
.breadscrumbs li{
  margin-right: 40px;
}
.breadscrumbs li:not(:first-child):before {
  background: url(../img/nav-arrow.png) no-repeat;
    content: "";
    position: absolute;
    bottom: 8px;


    width: 4px;
    height: 7px;
    margin-left: -18px;
    overflow: hidden;


  }

.breadscrumbs li:hover{
  color: rgba(0,0,0,0.6);
}
.breadscrumbs li:focus,
.breadscrumbs li:active{
  color: rgba(0,0,0,0.1);
}


.filter-conteiner{
  width: 270px;
  background-color: #eeeeee;

}
.filter-title{
  color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 16px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.91px;
text-transform: uppercase;
  width: 270px;


}

.filter-color-item{
  list-style: none;
  padding: 0;

}
.filter-bl-item{
  list-style: none;
  padding: 0;

}

.filter-title{
position: relative;
 padding-top: 23px;
    padding-bottom: 23px;
  background-color: #dcdcdc;


}




.option-filter{
width: 200px;
padding-top: 70px;
}
.form-legend{

color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 18px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.18px;

/*border-top: 2px solid #000000;
*/
}
fieldset{
    border: none;
}
.sorting{
color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 16px;
font-weight: 900;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 0.91px;
padding: 19px 0;

width: 175px;

}
.sorting-title{
  line-height: 0px;
}

.available-items{

 width: 760px;
 margin-left: auto;
}





.found-item-conteiner{
display: flex;


background-color: #ebebeb;

margin-bottom: 70px;
    align-items: center;
}
.found-item{
  width: 360px;
}
.found-item:nth-child(2n){
  margin-left: 40px;
}
.sort-direction{
  margin-left: auto;

}
.sort-direction a{
  margin-right: 20px;
}
.sort-direction a:nth-child(2n){
  margin-right: 0;
}

.found-item-list{
  display: flex;
  flex-wrap: wrap;

}
.found-item img{

  margin-right: 20px;
}
.item-img img:nth-child(2n){
  margin-right: 0;
}
.item-change{

  width: 350px;
  margin: 0;
}


.item-change {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 360px;
  height: 380px;
  padding-top: 169px;
  padding-right: 90px;
  padding-left: 90px;

  text-align: left;

  background-color: rgba(238, 238, 238, 0.7);
}


.found-item{
position: relative;
}

.found-item:hover .item-change{
  display: block;
}


.item-change .main-btn {
  width: 200px;
  margin-bottom: 6px;
  margin-left: -11px;

  background: none;
  border: none;
}
.item-change a:fucus,
.item-change a:active{
  opacity: 0.6;
}











.item-name{
  flex-wrap: wrap;
  width: 360px;

}
.pagination{

color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 16px;
font-weight: 900;
line-height: 24px;
text-transform: uppercase;
align-items: baseline;
letter-spacing: 0.91px;
}

.pagination{
  display: flex;
  list-style: none;
padding: 0;
background-color: #ebebeb;
margin-bottom: 77px;
}
.pagination li{
  text-align: center;
vertical-align: middle;
}

.pagination-back{
padding: 23px ;
  padding-right: 30px;
  padding-left: 30px;
   margin-right: auto;
}

.pagination-forward{
  padding: 23px 0;
  padding-left: 30px;
  padding-right: 30px;
   margin-left: auto;

}

.pagination-back:hover{

 background-color: #d8d8d8;
}
.pagination-back:focus,
.pagination-back:active{
  background-color: #d8d8d8;
  opacity: 0.3;
}

.pagination-forward:hover{
  background-color: #d8d8d8;
}
.pagination-forward:focus,
.pagination-forward:active{
  background-color: #d8d8d8;
  opacity: 0.3;
}
.page-number{
  text-align: center;
  margin-right: 30px;
}
.page-number-inactive{
  opacity: 0.3;
}




.type-sorting{
color: rgba(0,0,0,0.3);
font-family: "Open Sans","Arial",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 18px;


width: 500px;
}
.type-sorting a {
    text-decoration: none;
    margin-right: 30px;
}
.type-sorting a:nth-child(3n){
  margin-right: 0;
}
.type-sorting a:not([href]) {
color: #000000;
}
 .direction-up{
width: 11px;
height: 10px;
opacity: 0.2;
 }

.direction-down:{
  width: 11px;
height: 10px;
opacity: 0.2;
}
.direction-down:active{
opacity: 1;
}
.type-sorting a:hover{
  opacity: 0.6
}
.type-sorting a:focus,
.type-sorting a:active{
  opacity: 1;
}
.direction-up:hover,
.direction-down:hover{
  opacity: 0.4;
}
.direction-up:focus,
.direction-up:active,

.direction-down:focus,
.direction-down:active{
  opacity: 1;
}


 .item-name{
color: #000000;
font-family: "Gilroy","Arial",sans-serif;
font-size: 18px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.18px;
 }
 .item-price{
color: #464646;
font-family: "Gilroy","Arial",sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.16px;
 }
.log-out{
opacity: 0.3;

font-family: "Open Sans","Arial",sans-serif;
font-size: 15px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0.15px;
padding: 0 60px 0 20px;
}






.form-contact-us {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  height: 550px;
  width: 960px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: none;
}




.form-contact-us-wrap {
  position: relative;
  display: flex;
  padding-top: 90px;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-left: 100px;

}
.form-container {
  display: flex;
  flex-wrap: wrap;

}

.popup-name {
  display: flex;
  flex-direction: column;
}

.popup-name-name {
  padding-right: 40px;
  padding-bottom: 34px;
}

.form-contact-us label {
  width: 360px;
  padding-bottom: 6px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}
.popup-name-message {
  padding-bottom: 20px;
}

.popup-name-message label {
  padding-bottom: 8px;
}

.form-contact-us input {
  width: 360px;
  height: 50px;
  padding-top: 19px;
  padding-bottom: 21px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  border: 3px solid transparent;

  background-color: rgba(230, 230, 230, 0.5);

  outline: none;
}

.form-contact-us input:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.form-contact-us input:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.form-contact-us input:invalid {
 background-color: rgba(237, 181, 181, 1.0);
}

.form-contact-us textarea {
  width: 760px;
  min-height: 156px;
  padding: 14px 19px;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  background-color: rgba(230, 230, 230, 0.5);
  border: 3px solid transparent;
  outline: none;
  resize: none;
}

.form-container .btn{
  margin-top: 18px;
}

.form-contact-us textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.form-contact-us textarea:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.form-contact-us textarea{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
}
.btn-cancel {
    position: absolute;
    top: 22px;
    right: 21px;
    z-index: 1;
    width: 54px;
    height: 54px;
    font-size: 0;
    background-color:transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    opacity: 0.5;
    background: url(../img/close/modal-close.png) no-repeat;

}

.btn-cancel:hover,
.btn-cancel:focus
 {
  background: url(../img/close/modal-close2.png) no-repeat;
  opacity: 1;
}

.btn-cancel:active {
  background: url(../img/close/modal-close3.png) no-repeat;
}








.main-btn {
  position: relative;
  display: block;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;

  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  outline: none;
  background: none;
  border: none;

}

.main-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-btn:before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    width: 200px;
    height: 8px;
    background-color: #f0c52e;
    transition: all 0.2s ease-in-out;

}

.main-btn:hover::before,
.main-btn:focus::before {
  top: 0;
  height: 40px;
  margin: 0;
}

.main-btn:active::before {
  top: 0;
  height: 40px;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);

}
.main-btn-write-us:before,
.main-btn-more-about-us:before{
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    width: 260px;
    height: 8px;
    background-color: #f0c52e;
    transition: all 0.2s ease-in-out;

}

.main-btn-write-us,
.main-btn-more-about-us{
   width: 260px;
   margin-top: 80px;
   margin-bottom: 90px;


}
.main-btn-more-about-us{
   padding-left: 30px;
}

.main-btn-write-us{
  padding-left: 40px;
}

.map-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  width: 960px;
  height: 560px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: none;
}
.popup-map-wrap iframe {
  width: 960px;
  height: 560px;
  border: none;
}

.nav-cataloge-menu {
  position: relative;
}

.nav-cataloge-menu:hover + .dropdown-content {
  display: block;
}

.dropdown-content  {
  position: absolute;
  margin-left: -60px;
  z-index: 2;
  display: none;
  width: 1160px;
  padding-top: 28px;
  padding-bottom: 34px;
  padding-left: 60px;
  margin-top: -2px;
  background-color: #f7e296;

}

.dropdown-content:hover {
  display: block;
}

.dropdown-content-column {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: 0.15px;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-right: 20px;
}

.dropdown-column:first-child {
  width: 240px;
}

.dropdown-column a {
  display: block;
  color: #000000;
}

.dropdown-column a:hover {
  opacity: 0.6;
}

.dropdown-column a:active {
  opacity: 0.3;
}






.price-range-wrap{

  border-top: 2px solid #000000;
  border-bottom:  2px solid #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.filter-checkbox input,
.filter-radiobox input {
  visibility: hidden;
}
.filter-color{
  position: relative;
  padding-left: 0;
}





.filter-color-item {
  margin: 0;
  padding: 0;
  padding-bottom: 31px;

  list-style-type: none;
}

.filter-checkbox {
  padding-left: 22px;
}

.option-checkbox-label {
  position: relative;

  font-size: 14px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0.14px;
}

.option-checkbox:disabled + .option-checkbox-label,
.option-checkbox:checked:disabled + .option-checkbox-label {
  color: #a6a6a6;
}

.option-checkbox:disabled + .option-checkbox-label::before,
.option-checkbox:checked:disabled + .option-checkbox-label::before,
.option-checkbox:checked:disabled + .option-checkbox-label::after {
  opacity: 0.25;
}

.option-checkbox:focus + .option-checkbox-label {
  outline: 1px dotted #212121;
  outline: 5px auto;
}

.option-radio:focus + .option-radio-label {
  outline: 1px dotted #212121;
  outline: 5px auto;
}

.option-checkbox-label::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox/checkbox-off.png");
}

.option-checkbox-label::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;

  display: none;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox/checkbox-on.png") ;
}

.option-checkbox:checked + .option-checkbox-label::before {
  display: none;
}

.option-checkbox:checked + .option-checkbox-label::after {
  display: block;
}

.option-checkbox-label:hover::before,
.option-checkbox-label:hover::after {
  opacity: 0.6;
}

.radio-filter{
  padding: 0;
  margin-left: 0;
  list-style: none;
}




.filter-bl-item {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;


}


.filter-radiobox {
  padding-left: 40px;
}

.option-radio-label {
  position: relative;

  font-size: 14px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0.14px;

  cursor: pointer;
}

.option-radio-label::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;

  box-sizing: border-box;
  width: 25px;
  height: 25px;

  border: 4px solid #000000;
  border-radius: 12px;
}

.option-radio-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -32px;
  display: none;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 4px;
}

.option-radio:checked + .option-radio-label::after {
  display: block;
}
.option-radio:disabled + .option-radio-label,
.option-radio:checked:disabled + .option-radio-label {
  color: #a6a6a6;
}

.option-radio-label:hover::before,
.option-radio-label:hover::after {
  opacity: 0.6;
}

.option-radio-label:active::before,
.option-radio-label:active::before {
  opacity: 1;
}


























.slider {
  position: relative;
  z-index: 1;

  margin-top: -160px;
  padding-bottom: 97px;
}

.slide-1 {
  position: relative;

z-index: 2;
  display: flex;

}
.slide-2{
    position: relative;

z-index: 2;
  display: flex;

}
.slide-3{
    position: relative;

z-index: 2;
  display: flex;

}



.slide-picture {
  width: 560px;
  margin-right: 40px;


  text-align: center;
}

.slide-1 img {
  width: 384px;
  height: 486px;
  margin-top: -1px;
  margin-left: 5px;
}

.slide-2 img {
  width: 345px;
  height: 485px;
  margin-top: 12px;
  margin-left: 16px;
}

.slide-3 img {
  width: 526px;
  height: 334px;
  margin-top: 65px;
  margin-left: 30px;
}

.slide-description {
  position: relative;


  width: 560px;
  padding-top: 78px;
}

.slide-description::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 0;


  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slide-description::after {
  content: "";
  position: absolute;
  top: -14px;
  right: 50px;

  font-weight: 900;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;
}

.slide-1 .slide-description::after {
  content: "01";


}

.slide-2 .slide-description::after {
  content: "02";

}

.slide-3 .slide-description::after {
  content: "03";
  z-index: -1;
}


.promoution-words {
  padding-bottom: 20px;
  color: #000000;
font-family: "Gilroy", "Arial", sans-serif;
font-size: 47px;
font-weight: 900;
line-height: 56px;
letter-spacing: 0.17px;

}

.slide-description p {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: 0.15px;
}

.advantages{
padding-left:0;
list-style:none;
font-size:0;
margin-top: 70px;
}
.advantages li{
display:inline-block;
vertical-align:baseline;
}
.advantages li:first-of-type{
width:160px;
}
.advantages li:not(:first-of-type){
width:140px;
}
.advantages .advantages-value{
  color: #000000;
font-family: "Gilroy" ,"Arial",sans-serif;
font-size: 36px;
font-weight: 300;
line-height: 48px;

letter-spacing: 0.36px;
}
.advantages-type{
  display: block;
  margin-top: 10px;
color: #464646;
font-family: "Open Sans" ,"Arial",sans-serif;
font-size: 13px;
font-weight: 300;
line-height: 20px;

letter-spacing: 0.13px;
}
.slider-btn{
  margin-top: 60px;
}

.slide-2,.slide-3{
  display: none;
}












.info {
  position: relative;

  background-image: linear-gradient(to bottom,transparent 163px,#e5e5e5 163px );
}

.info::before{
  content: "";
    position: absolute;
    top: 163px;
    z-index: -1;
    width: 999999px;
    height: calc(100% - 164px);
    margin-left: -100vw;

    background-color: #e5e5e5;

}

.info-wrap {
  z-index: 1;
  display: flex;
  padding-bottom: 118px;
}

.info-slider {
  position: relative;
  order: 2;
  width: 460px;
  margin-left: 120px;
  padding-top: 136px;
}

.info-slider-delivery::before {
  content: "";
  position: absolute;
  top: 148px;
  right: -234px;
  z-index: 0;
  width: 136px;
  height: 164px;
  background-image: url("../img/info/delivery.svg");
  background-repeat: no-repeat;
}

.info-slider-warranty {
  margin-left: 121px;
}

.info-slider-warranty::before {
  content: "";
  position: absolute;
  top: 124px;
  right: -253px;
  z-index: 0;
  width: 171px;
  height: 195px;
  background-image: url("../img/info/warranty.svg");
  background-repeat: no-repeat;
}

.info-slider-credit::before {
  content: "";
  position: absolute;
  top: 124px;
  right: -258px;
  z-index: 0;
  width: 156px;
  height: 188px;
  background-image: url("../img/info/credit.svg");
  background-repeat: no-repeat;
}

.info-slider-credit {
  width: 430px;
}

.info-slider p {
  margin: 0;
}

.info-controls {
  position: relative;
  padding-top: 142px;
  padding-right: 120px;
}

.info-controls::before {
  content: "";
  position: absolute;
  top: 63px;
  right: -4px;
  width: 7px;
  height: 320px;
  background-color: #000000;
}

.info-label {
  position: relative;
  z-index: 1;

  display: block;
  order: 1;
  width: 160px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  outline: none;
  }

.info-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 160px;
  height: 8px;
  margin-top: -4px;

  background-color: #f0c52e;
}

.info-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
 outline: none;
  width: 0;
  height: 40px;

  background-color: #000000;
}

.info-label:hover::before {
  top: 0;
 outline: none;
  height: 40px;
  margin: 0;

  transition: all 0.2s linear;
}

.info-input[id="delivery"]:checked ~ .info-controls label[for="delivery"],
.info-input[id="warranty"]:checked ~ .info-controls label[for="warranty"],
.info-input[id="credit"]:checked ~ .info-controls label[for="credit"] {
  color: #f7e184;
}

.info-input[id="delivery"]:checked ~ .info-controls label[for="delivery"]::before {
  top: 1px;
  z-index: -1;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.2s linear;
}

.info-input[id="delivery"]:checked ~ .info-controls label[for="delivery"]::after {
  top: 1px;
  z-index: -1;
  width: 120px;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.2s linear;
}

.info-input[id="warranty"]:checked ~ .info-controls label[for="warranty"]::before {
  top: 0;
  z-index: -1;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.2s linear;
}

.info-input[id="warranty"]:checked ~ .info-controls label[for="warranty"]::after {
  top: 0;
  z-index: -1;
  width: 120px;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.2s linear;
}

.info-input[id="credit"]:checked ~ .info-controls label[for="credit"]::before {
  top: 0;
  z-index: -1;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.2s linear;
}

.info-input[id="credit"]:checked ~ .info-controls label[for="credit"]::after {
  top: 0;
  z-index: -1;
  width: 120px;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.2s linear;
}

.info-input[id="warranty"]:checked ~ .info-controls label[for="warranty"]::before,
.info-input[id="credit"]:checked ~ .info-controls label[for="credit"]::before,
.info-input[id="delivery"]:checked ~ .info-controls label[for="delivery"]::before,
.info-input[id="warranty"]:checked ~ .info-controls label[for="warranty"]::before,
.info-input[id="credit"]:checked ~ .info-controls label[for="credit"]::before {
  display: block;
}

.info-input[id="delivery"]:checked ~ .info-slider-warranty,
.info-input[id="delivery"]:checked ~ .info-slider-credit,
.info-input[id="warranty"]:checked ~ .info-slider-delivery,
.info-input[id="warranty"]:checked ~ .info-slider-credit,
.info-input[id="credit"]:checked ~ .info-slider-delivery,
.info-input[id="credit"]:checked ~ .info-slider-warranty {

  display: none;
}

